@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app {
  position: relative; /* Needed for the pseudo-element positioning */
  height: 100vh; /* Full height of the viewport */
  width: 100%;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.app::before {
  content: '';
  background-image: url('./components/images/main_backgound_image.jpg'); 
  background-size: cover; /* Adjust to 'contain' if you want the entire image to be visible */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 75%; /* Adjust the opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}
